@page
@model MIST353WeatherWebsite.Pages.Contact_UsModel
@{
}

<h1>Get In Touch</h1>
<br />
<p>
<h2>Chase Winbush</h2>
<h2>(410) 353-7608</h2>
<h2>clw00020@mix.wvu.edu</h2>
<a href="https://www.linkedin.com/in/chase-winbush-056a31252/"><h2>Linkedin</h2></a>
</p>
<br />
<p>
    <h2>Will Burge</h2>
    <h2>(304) 480-9685</h2>
    <h2>wrb00007@mix.wvu.edu</h2>
    <a href="https://www.linkedin.com/in/william-burge-74b5a3256/"><h2>Linkedin</h2></a>
</p>
<br />
<p>
    <h2>Christian Marchitto</h2>
    <h2>(908) 809-5012</h2>
    <h2>cm00071@mix.wvu.edu</h2>
    <a href="https://www.linkedin.com/in/christianmarchitto/"><h2>Linkedin</h2></a>
</p>
<br />
<p>
    <h2>Maxson Lantz</h2>
    <h2>(304) 777-6591</h2>
    <h2>mcl00008@mix.wvu.edu</h2>
    <a href="https://www.linkedin.com/in/maxson-lantz-85b4a124b/"><h2>Linkedin</h2></a>
</p>

<p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" id="linkedinpic"/>
</p>

<button onclick="myFunction()">Click Me to hide linkedin pic</button>

<script>
    function myFunction() {
        var x = document.getElementById("linkedinpic");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
