@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>About Us</h2>
    <p>We are a comapny that speicalizes in landscaping solutions based on your region. We are able to tell you the best type of 
    plants that will be able to survive in your climate without a great deal of hassel. </p>

    <p>Our website is currentyl under construction and will be updated soon. The searhc features baed on region are in development,
    but by our contact, weather info, and gallery pages are up and opperational. If you have any suggestions please conact one of us using the information on the contact page.
    &#128516;</p>
</div>

