@page
@model MIST353WeatherWebsite.Pages.WeatherInfoModel
@{
}
<h1>Plant Reccomendations For Your Climate</h1>

<!--<img src="https://scijinks.gov/review/climate-zones/climate-zones4.png" alt="climate zones map" id="climateMap"/> -->


<button id="tropBtn" onclick="showTab()">Tropical</button>

<table id="tropTab" style="display:none">
    <tr>
        <th>Plants</th>
    </tr>
    <tr>
        <td>Plant x</td>
    </tr>
    <tr>
        <td>Plant y</td>
    </tr>
    <tr>
        <td>Plant z</td>
    </tr>
</table>





<script>
    let isHidden = 1;
    function showTab() {
        if (isHidden == 1) {
            document.getElementById("tropTab").style.display = "block";
            document.getElementById("tropBtn").innerHTML = "Hide";
            isHidden = 0;
        }
        else {
            document.getElementById("tropTab").style.display = "none";
            document.getElementById("tropBtn").innerHTML = "Tropical";
            isHidden = 1;
        }
    }



</script>